// include all templated CSS properties here such as font sizes, margin, padding, color, background color, etc

// for width
$maxWidth   : 1024px; // can be use as max width of the container

// for fonts
$defaultFont: 'Arial', 'Helvetica', 'Calibri'; // default font families and error support for any html tags
$fontA      : 'Arial';
$OpenSans   : 'OpenSans', sans-serif;
$OpenSansBold   : 'OpenSans-Bold', sans-serif;
$BebasNeue   : 'BebasNeue', sans-serif;

// for font sizes
$fontSmall  : 12px;
$fontMedium : 14px;
$fontLarge  : 16px;
$fontxLarge : 18px;
$fontxxLarge: 20px;

// for colors
$defaultColor     : #000000; // default color for the independent paragraphs, input fields, etc
$siteColor        : #000000; // default color for the website
$defaultLinkColor : #3189DD; // default link color for the whole site
$coWhite          : #ffffff;
$coBlack          : #000000;
$coBlue           : #00bff3;
$coRed            : #e82b0d;
$coLtGray         : #efefef;
$coDkGray         : #454545;
$coLtGreen        : #339933;
$coDkGreen        : #254d32;
$navColor         : #181d27;

// for margin and padding
$spaceOne   : 10px;
$spaceTwo   : 20px;
$spaceThree : 30px;
$spaceFour  : 40px;
$spaceFive  : 50px;

// for image sprite
//$imgSprite: url('');
